#includes:
#    - vendor/rector/phpstan-rules/config/config.neon

parameters:
    level: 6
    paths:
        - src/
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    #ignoreErrors:
    #	- '#Test::data[a-zA-Z0-9_]+\(\) return type has no value type specified in iterable type#'
